:root {
  --oui-font-family: 'Nunito', sans-serif;
  --oui-font-size-base: 18px;

  /* colors */
  --oui-color-primary: 83 222 233;
  --oui-color-primary-light: 132 236 243;
  --oui-color-primary-darken: 51 199 218;
  --oui-color-primary-contrast: 13 17 28;

  --oui-color-link: 154 101 255;
  --oui-color-link-light: 186 160 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 75 158;
  --oui-color-danger-light: 248 165 210;
  --oui-color-danger-darken: 204 50 128;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 49 208 170;
  --oui-color-success-light: 129 235 205;
  --oui-color-success-darken: 24 160 129;
  --oui-color-success-contrast: 13 17 28;

  --oui-color-warning: 255 178 55;
  --oui-color-warning-light: 255 210 130;
  --oui-color-warning-darken: 217 141 17;
  --oui-color-warning-contrast: 13 17 28;

  --oui-color-fill: 54 57 87;
  --oui-color-fill-active: 62 66 100;

  --oui-color-base-1: 39 38 44;
  --oui-color-base-2: 47 46 54;
  --oui-color-base-3: 55 54 64;
  --oui-color-base-4: 63 62 74;
  --oui-color-base-5: 71 70 84;
  --oui-color-base-6: 79 78 94;
  --oui-color-base-7: 87 86 104;
  --oui-color-base-8: 95 94 114;
  --oui-color-base-9: 39 38 44;
  --oui-color-base-10: 111 110 134;

  --oui-color-base-foreground: 245 247 252;
  --oui-color-line: 86 90 118;

  --oui-color-trading-loss: 237 75 158;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 49 208 170;
  --oui-color-trading-profit-contrast: 13 17 28;

  /* gradients */
  --oui-gradient-primary-start: 83 222 233;
  --oui-gradient-primary-end: 83 222 233;

  --oui-gradient-secondary-start: 39 38 44;
  --oui-gradient-secondary-end: 39 38 44;

  --oui-gradient-success-start: 49 208 170;
  --oui-gradient-success-end: 49 208 170;

  --oui-gradient-danger-start: 237 75 158;
  --oui-gradient-danger-end: 237 75 158;

  --oui-gradient-brand-start: 83 222 233;
  --oui-gradient-brand-end: 83 222 233;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 0deg;

  --oui-gradient-warning-start: 255 178 55;
  --oui-gradient-warning-end: 255 178 55;

  --oui-gradient-neutral-start: 54 57 87;
  --oui-gradient-neutral-end: 54 57 87;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 18px !important;
}